<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Photo Drop</h1>
    <%= photo.name %>
    <nav>
      <ul>
        <li><a href="/photo/new">New Post</a></li>
        <li><a href="">All Contributers</a></li>
        <li><a href="">All Submissions</a></li>

      </ul>
    </nav>
    <ul>
      <%  for (let i = 0; i < photo.length; i++) { %>
          <li>
            <%= photo.username %>
            <img src="<%=photo[i].img%>" alt="">
          <form action="/photo/<%=photo[i].id%>" method="GET">
            <a href="/photo/<%=photo[i].id%>"><%=photo[i].username%></a>
          </form>
          </li>
      <%  } %>
    </ul>
  </body>
</html>
