<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <style>
    li {font-family: roboto;}
  </style>
</head>

<body>
  <h1>Food Index Page</h1>

  <% for (let i = 0; i < food.length; i++ ) { %>
  <ul>
    The <a href="/food/<%=food[i].id%>">
      <%=food[i].name; %></a> is
      <%=food[i].cuisine; %>.
      It has <%=food[i].calories; %> calories.
    <%  if (food[i].hot === true) { %>
      It's hot
    <%  } else { %>
      It's cold
    <%  } %>
      <form action="/food/<%=food[i].id%>?_method=DELETE" method="POST">
        <input type="submit" value="delete">
      </form>

      <a href="/food/<%=food[i].id%>/edit"> Edit <%=food[i].name%></a>
    </ul>
  <% } %>

  <nav>
    <a href="/food/new">Add another Food Item </a>
  </nav>

</body>
</html>
